body {
    font-family: 'Verdana', sans-serif;
    color: #fff;
}

.navbar {
    background-color: rgba(95, 95, 95, 0.3);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.elements_navbar {
    font-size: 30px;
    color: rgb(255, 255, 255);
}